<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<style>
body
{
    background-image: url("https://images.unsplash.com/photo-1530685932526-48ec92998eaa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
}
.pd{
padding-bottom:45%;}
}
</style>
</head>
<body>

<br>
<center><b class="pd"><font color="black" size="15" font-family="Comic Sans MS" >Traffic Volume Estimation</font></b></center><br><br>
<div>
<br>
<center>
<p><font color="black" size="10"> {{result}} </p>  
</center>
</div>
</body>
</html>
